:root {
  --background-primary: black;
  --foreground-primary: white;
  --link-text-primary: white;
  --link-text-active-primary: red;

  --card-background: #20100a;
  --card-foreground: var(--foreground-primary);

  --background-secondary: darkgray;
  --foreground-secondary: black;
  --link-text-secondary: black;
  --link-text-active-secondary: #820000;

  --background-accent: red;
  --foreground-accent: white;

  /* Spacing variables */
  --spacing-medium: 12px;
  --spacing-tiny: 8px;
  --spacing-xtiny: 4px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
  font-family: Arial, Helvetica, Sans-Serif;
}

main {
  flex-grow: 1;
}

button {
  all: unset;
  background-color: var(--background-secondary);
  padding: var(--spacing-tiny);
  border-radius: 4px;
  color: var(--foreground-secondary);
}

button.active {
  background-color: var(--link-text-active-secondary);
  color: #908858;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h4 {
  text-align: center;
  margin-bottom: 0;
}

/* Runeword actions div */
.runeword-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xtiny);
  margin: var(--spacing-medium);
  justify-content: center;
}

/* Styles for header blocks with subtitles */
.header-block h3,
.header-block h4 {
  margin-bottom: 0;
}
.header-block h3,
.header-block h4 {
  margin-top: 0;
}

.header-block h3 {
  color: #908858;
}

.header-block {
  background-color: var(--card-background);
  color: var(--card-foreground);
  padding: var(--spacing-tiny);
  cursor: pointer;
  border: 1px solid var(--link-text-active-secondary);
}

.flex-apart {
  display: flex;
  justify-content: space-between;
}

#runewords > ul {
  margin-top: 2.33em;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#runewords > ul > li {
  margin-bottom: var(--spacing-xtiny);
}

.runeword-effects {
  text-align: center;
  border: 1px solid var(--background-secondary);
  border-top: none;
  padding: var(--spacing-xtiny);
  color: #4850a8;
}

/* Navigation styles */
header {
  margin-bottom: var(--spacing-medium);
}

footer,
header {
  text-align: center;
  background-color: var(--background-secondary);
  color: var(--foreground-secondary);
}

footer {
  padding: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--spacing-medium);
}

header nav ul li {
  padding: var(--spacing-medium) 0px var(--spacing-medium) var(--spacing-medium);
}

header nav ul li a {
  color: var(--link-text-secondary);
}

header nav ul li a.nav-active {
  color: var(--link-text-active-secondary);
}

section {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}
