:root {
  --background-primary: black;
  --foreground-primary: white;
  --link-text-primary: white;
  --link-text-active-primary: red;

  --background-secondary: darkgray;
  --foreground-secondary: black;
  --link-text-secondary: black;
  --link-text-active-secondary: #820000;

  --background-accent: red;
  --foreground-accent: white;

  /* Spacing variables */
  --content-padding: 12px;
  --spacing-tiny: 8px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

main {
  flex-grow: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Styles for header blocks with subtitles */
.header-block h3,
.header-block h4 {
  margin-bottom: 0;
}
.header-block h3,
.header-block h4 {
  margin-top: 0;
}

.header-block {
  background-color: var(--background-secondary);
  color: var(--foreground-secondary);
  padding: var(--spacing-tiny);
}

.flex-apart {
  display: flex;
  justify-content: space-between;
}

#runewords > ul > li {
  margin-bottom: var(--spacing-tiny);
}

.runeword-effects {
  text-align: center;
  border: 1px solid var(--background-secondary);
}

/* Navigation styles */
footer {
  text-align: center;
  padding: var(--content-padding);
  margin-top: var(--content-padding);
}

header nav,
footer {
  background-color: var(--background-secondary);
  color: var(--foreground-secondary);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--content-padding);
}

header nav ul li {
  padding: var(--content-padding) 0px var(--content-padding)
    var(--content-padding);
}

header nav ul li a {
  color: var(--link-text-secondary);
}

header nav ul li a.nav-active {
  color: var(--link-text-active-secondary);
}

section {
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}
